* { margin-top: 0px; padding: 0px;}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 200px; /* flex-grow, flex-shrink, flex-basis */
    background-color: #f4f4f4;
    padding: 20px;
}

.content, .additional-content {
    flex: 1;
    padding: 20px;
}

.additional-content {
    background-color: #e0e0e0;
}
