* { margin: 0px; padding: 0px;}

body {  margin: 0;  font-family: Arial, sans-serif;}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

.item {
    flex: 1;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
