* { margin: 0px; padding: 0px; }

main {width: 100%; height: 1600px; background-color: antiquewhite;}

.pai {width: 200px; height: 200px; background-color: green; position: fixed; right: 0%; bottom: 0%;}

.filha {width: 100px; height: 100px; background-color: blue; position: fixed; left: 20%; bottom: 50%;}

h2 { width: 200px; height: 50px; background-color: pink;}

.mae {width: 200px; height: 200px; background-color: orange; position: sticky; top: 0; left: 0; margin: 20% 0px 0px 0px;}

.filho {width: 100px; height: 100px; background-color: wheat; }

.prof { width: 200px; height: 200px; background-color: violet;}

.alune { width: 100px; height: 100px ; background-color: brown; position: relative; top: 50px; left: 50px; z-index: 1;}

.tia {width: 200px; height: 200px; background-color: blueviolet; margin-top: 200px;}
.prima {width: 100px; height: 100px; background-color: brown; position: absolute; top: 50px; left: 500px;}