* { margin: 0px; padding: 0px;}

.div-border { border: 3px solid black ;}
* { margin: 0px; padding: 0px; font-size: 24px; }

.div-border { border: 3px solid black; }

.container-main { display: grid; grid-template-columns: 20vw 60vw 20vw ; grid-template-rows: 20vh 70vh 10vh; grid-row-gap: 10px; grid-column-gap: 10px; }