* {margin: 0px; padding: 0px;} 
body { background-color: aqua;}

.container { background-color: wheat; margin: 0px auto; width: 900px; height: 600px; display: flex; flex-flow: row wrap; justify-content: space-evenly; align-items: center;}

div { padding: 60px; background-color: brown; color: white; border-radius: 15px; font-weight: bold; border: 2px solid white;}

#span02 { font-size: 34px;}
#span04 { font-size: 54px ;}

.item.selected { order: 1;}

.item.selected { align-self: stretch; flex-basis: 30px;}