* { margin: 0px; padding: 0px; font-size: 26px; }

div { border: 2px solid black; }
.header-bgcolor { background-color: #23b14d; }
.menu1-bgcolor { background-color: #9bd8eb; }
.menu2-bgcolor { background-color: #3f47cc; }
.content-bgcolor { background-color: #a349a3; }
.footer-bgcolor { background-color: #ff7f26; }

main { width: 60%; margin: 0px auto; display: grid; grid-template-columns: 0.5fr 1fr; grid-template-rows: 80px 50px repeat(1, 380px) 50px; grid-row-gap: 8px; grid-column-gap: 8px; }

.grid-aling { grid-column-start: 1; grid-column-end: 3; }