* { margin: 0px; padding: 0px; font-size: 26px;}

body { background-color: aquamarine; display: grid; width: 100vw; height: 100vh; grid-template-columns: 20% 60% 20%; grid-template-rows: 10% 5% 70% 5% 10%; grid-template-areas:
    "header header header"
    "nav article ads"
    "nav article ads"
    "nav article ads"
    "footer footer footer"
    ;} 

header { background-color: green; grid-area: header;}
nav { background-color: blue; grid-area: nav;}
article { background-color: brown; grid-area: article;}
div { background-color: orange; grid-area: ads;}
footer { background-color: blueviolet; grid-area: footer;} 