* { margin: 0px; padding: 0px;}

body {background-color: black; display: grid; grid-template-rows: 10% 60% 30%; height: 100vh; grid-template-columns: 30% 45% 15% 10%; 
grid-template-areas:
'header header header header'
'nav article div01 div02'
'nav footer none none'
;}

header { grid-area: header; background-color: red;}
nav {grid-area: nav; background-color: blue;}
article { grid-area: article; background-color: orange;}
.div01 { grid-area: div01;background-color:  yellow; }
.div02 {grid-area: div02; background-color: yellowgreen;}
footer { grid-area: footer; background-color: green;}